/* just some fonts I got on googlefonts to make it beautiful 
brand font: Pacifico by Vernon Adams, Jacques Le Bailly, Botjo Nikoltchev, Ani Petrova
menu font: Nunito by Vernon Adams, Cyreal, Jacques Le Bailly */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

body {
	background: rgb(253, 251, 250);
	margin: 0;
}

/* navbar main style */
nav {
	/* to fix the menu to top, use this code commented below
    position: fixed;  
    top: 0;
    left: 0; */
	width: 100%;
	height: 90px;
	background: rgb(171, 114, 148);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	/* use a "z-index" if you're using something that can cover the menu */
}

/* you can also have your logo image here */
nav .brand {
	color: #333;
	font-size: x-large;
	font-weight: 700;
	font-family: "Pacifico", cursive;
}

nav ul {
	all: initial; /* clears all the previous and default style of ul */
}

.navbar {
	display: flex;
	padding: 0 50px;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.navbar .menu {
	display: flex;
	height: 100%;
	line-height: 100px;
}
.navbar .menu li {
	position: relative;
	list-style: none;
	display: flex;
	align-items: center;
	height: 100%;
	/* here start menu links decoration */
	padding: 0 15px;
	font-family: "Nunito", sans-serif;
}
.navbar .menu li a {
	color: rgb(8, 0, 0);
	text-decoration: none;
	white-space: nowrap;
	height: 100%;
	text-transform: uppercase;
}

/* arrows decoration */
.navbar .menu li .arrow,
.navbar .menu li .more-arrow {
	width: 25px;
	color: white;
	font-size: small;
	text-align: center;
	transition: all 0.3s ease;
}
/* arrows rotate effect */
.navbar .menu li:hover .arrow,
.navbar .menu .sub-menu li:hover .more-arrow {
	transform: rotate(-180deg);
}

/* sub-menu */
.navbar .menu .sub-menu {
	background-color: rgb(171, 114, 148);
	position: absolute;
	top: 100%; /* 100% will put it under the navbar height. decrease the percentage to put it up */
	right: 0; /* here you use right or left to align the sub-menu box */
	box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
	border-radius: 0 0 3px 3px;
	display: none;
}
.navbar .menu .sub-menu li {
	padding: 10px 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* more options sub-menu*/
.navbar .menu .sub-menu .more .more-sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border-top: 3px solid rgba(255, 255, 255, 0.3);
	background-color: rgb(171, 114, 148);
	box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
	border-radius: 0 0 3px 3px;
	display: none;
}
/* shows submenu and more options submenu on hover */
.navbar .menu li:hover .sub-menu,
.navbar .menu .sub-menu .more:hover .more-sub-menu {
	display: block;
}

/* hides open and close button */
.navbar .navOpen,
.navbar .navClose {
	display: none;
}

@media screen and (max-width: 991.98px) {
	/* setting the responsive menu style */
	.navbar .menu {
		display: flex;
		flex-direction: column;
		position: fixed;
		background-color: rgb(171, 114, 148);
		height: 100vh;
		min-width: 250px;
		top: 0;
		right: -100%; /* choose right or left to set menu side displayed / keep -100% to hide it */
		line-height: normal;
		padding: 20px;
		transition: all 0.5s ease; /* to make the transition close-to-open soft */
	}
	.navbar .menu li {
		display: block;
		height: auto;
		line-height: 45px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
	.navbar .menu .navOpen {
		margin-right: 5%;
	}
	.navbar .navOpen,
	.navbar .navClose {
		color: black;
		font-size: x-large;
		display: block;
	}
	.navbar .navClose {
		margin-bottom: 50px;
	}
	.navbar .menu .sub-menu {
		width: 100%;
		right: 100%;
		top: 0;
		box-shadow: none;
		border-radius: 3px 0 0 3px;
	}
}
